/*Gefið css*/
* {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  }
  
  main {
    margin: 0 auto;
    max-width: 1450px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .text {
    margin-bottom: 20px;
  }

  .cards__row {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
  }

  .cards__col {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }  

  /*css úr verkefni 5*/
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cards__row {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 470px;
    max-height: 320px;
    overflow: auto;
  
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
  
  .card__title {
    margin-bottom: 20px;
  
    font-size: 1.5em;
    line-height: 1;
    word-break: break-word;
  }
  
  .card__content {
    display: flex;
    flex: 1;
  }
  
  .card__text {
    font-size: 1em;
    line-height: 1.20;
    word-break: break-word;
  }
  
  .card__image {
    padding-right: 20px;
    flex: 0 0 150px;
  }
  
  .card__img {
    max-width: 100%;
  }
  
  .card__tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
  }
  
  .card__tag {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .cards--first-flex-item{
    order: -1;
  }
